{% extends 'layout.html' %}

{% block mainContent %}
<h4>Details for {{cdetails['cust_name']}}</h4>
<h6>{{cdetails['cust_no']}}</h6>

<p>{{cdetails['street']}}<br>
{{cdetails['town']}} {{cdetails['post_code']}}</p>

<p>Credit Limit: {{cdetails['cr_limit']}} <br>
    Current Balance: <strong>${{cdetails['curr_bal']}}</strong></p>

<div>
    <h4>Order Summary</h4>
    <p>Total number of orders made: {{order_count['order count']}}</p>
    <p>Last order: {{order_count['last order']}}</p>
    <p>Total of orders: ${{order_count['total orders']}}</p>
</div>

<div>
    <h4>Order History</h4>
    {% if order_history | length > 0 %}
        <table class="table">
            <tr><th>Order Number</th><th>Order Date</th></tr>
        {% for row in order_history %}
            <tr><td><a href="/order_details?oid={{row['order_no']}}">{{row['order_no']}}</a></td><td>{{row['order_date']}}</td></tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No orders for this customer</p>
    {% endif %}

</div>
{% endblock %}